In [39]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta
import talib as ta2
import numpy as np
from datetime import datetime as dt
from datetime import timedelta as delta
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [40]:
stock = 'wipro'
start_date = '2000-01-01'
end_date = (dt.now() + delta(1)).strftime('%Y-%m-%d')

df = yf.download(f"{stock}.NS", period='1d', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [41]:
def analyse_candlestick_patterns(df, pattern:str):
    x = eval(f"(ta2.CDL{pattern}(df['Open'], df['High'], df['Low'], df['Close'])/100).reset_index()")
    x = x[x[0]==1]
    x.rename(columns = {0:pattern}, inplace = True)
    return x.set_index('Date')

In [42]:
patterns = ['RICKSHAWMAN', 'ABANDONEDBABY', 'HARAMICROSS', 'HARAMI', '3WHITESOLDIERS', 'MORNINGSTAR', 'HAMMER']

for pattern in patterns:
    print(f'running {pattern}')
    _pattern_recognised = analyse_candlestick_patterns(df, pattern)
    df = df.merge(_pattern_recognised, how='left', left_index=True, right_index=True).fillna({pattern:0})
    df = df.astype({pattern:'int'})

running RICKSHAWMAN
running ABANDONEDBABY
running HARAMICROSS
running HARAMI
running 3WHITESOLDIERS
running MORNINGSTAR
running HAMMER

In [43]:
df

,Open,High,Low,Close,Adj Close,Volume,RICKSHAWMAN,ABANDONEDBABY,HARAMICROSS,HARAMI,3WHITESOLDIERS,MORNINGSTAR,HAMMER
Date,,,,,,,,,,,,,
2000-01-03,102.150002,102.157501,102.150002,102.157501,83.336517,42639,0,0,0,0,0,0,0
2000-01-04,110.330627,110.330627,110.330627,110.330627,90.003860,117119,0,0,0,0,0,0,0
2000-01-05,110.330627,119.158127,101.812508,112.128754,91.470718,3527919,0,0,0,0,0,0,0
2000-01-06,117.926254,119.362503,104.625008,109.959381,89.701027,1942399,0,0,0,0,0,0,0
2000-01-07,103.162506,103.162506,101.163757,101.163757,82.525848,269599,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-11,433.000000,437.500000,430.100006,434.850006,434.850006,4126657,0,0,0,0,0,0,0
2023-09-12,437.100006,441.500000,426.899994,435.000000,435.000000,7272664,0,0,0,0,0,0,0
2023-09-13,434.950012,437.950012,431.500000,435.700012,435.700012,3722835,1,0,0,0,0,0,0
2023-09-14,438.399994,443.250000,435.299988,436.450012,436.450012,7447505,0,0,0,0,0,0,0
2023-09-15,439.799988,443.750000,438.250000,441.049988,441.049988,9917938,0,0,0,0,0,0,0

In [44]:
def check_returns_for_candlestick(df, candlestick_col, holding_period=1):
    df['returns'] = (df['Adj Close'].shift(-holding_period) - df['Adj Close']) / df['Adj Close'] * 100
    return df[df[candlestick_col]==1]

In [45]:
check_returns_for_candlestick(df, 'RICKSHAWMAN', 14)['returns'].mean()

0.8259779837884413

In [46]:
summary = []

for pattern in patterns:
    for days in range(1,15,1):
        _mean = check_returns_for_candlestick(df, pattern, days)['returns'].mean()
        _median = check_returns_for_candlestick(df, pattern, days)['returns'].median()
        summary.append([pattern, days, _mean, _median])

In [47]:
summary = pd.DataFrame(summary, columns=['candlestick pattern', 'days', 'mean', 'median'])\
    .dropna()\
    .sort_values(by='mean', ascending=False)

summary

   candlestick pattern  days      mean    median
55              HARAMI    14  1.098501  1.442859
41         HARAMICROSS    14  1.096777  1.187267
36         HARAMICROSS     9  1.061432  0.983434
35         HARAMICROSS     8  1.033003  0.855482
40         HARAMICROSS    13  1.013167  1.130390
..                 ...   ...       ...       ...
82         MORNINGSTAR    13 -2.101407 -0.512820
79         MORNINGSTAR    10 -2.219581 -0.536281
83         MORNINGSTAR    14 -2.293584 -1.072889
80         MORNINGSTAR    11 -2.457488 -0.754885
77         MORNINGSTAR     8 -2.653539 -1.927799

[70 rows x 4 columns]

In [48]:
summary[(summary['mean']>0.5) & (summary['median']>0.5)]

   candlestick pattern  days      mean    median
55              HARAMI    14  1.098501  1.442859
41         HARAMICROSS    14  1.096777  1.187267
36         HARAMICROSS     9  1.061432  0.983434
35         HARAMICROSS     8  1.033003  0.855482
40         HARAMICROSS    13  1.013167  1.130390
54              HARAMI    13  0.993679  1.041712
39         HARAMICROSS    12  0.918613  1.145140
12         RICKSHAWMAN    13  0.890716  0.738086
51              HARAMI    10  0.876763  0.918973
53              HARAMI    12  0.871747  1.093123
48              HARAMI     7  0.838955  0.607710
11         RICKSHAWMAN    12  0.833521  0.767893
13         RICKSHAWMAN    14  0.825978  0.680534
50              HARAMI     9  0.808785  1.001102
49              HARAMI     8  0.795906  0.725730
34         HARAMICROSS     7  0.759879  0.558624
52              HARAMI    11  0.751371  0.968794
46              HARAMI     5  0.728306  0.527697
37         HARAMICROSS    10  0.721736  0.961906
38         HARAMICROSS    11  0.619599  1.222665

In [51]:
summary.groupby('candlestick pattern').mean()

                     days      mean    median
candlestick pattern
HAMMER                7.5 -0.634354 -0.102550
HARAMI                7.5  0.686405  0.677901
HARAMICROSS           7.5  0.608044  0.582340
MORNINGSTAR           7.5 -1.548514 -0.621991
RICKSHAWMAN           7.5  0.439257  0.329554

In [52]:
summary.groupby('candlestick pattern').median()

                     days      mean    median
candlestick pattern
HAMMER                7.5 -0.801847 -0.083594
HARAMI                7.5  0.773638  0.666720
HARAMICROSS           7.5  0.740808  0.707053
MORNINGSTAR           7.5 -1.949342 -0.524551
RICKSHAWMAN           7.5  0.459360  0.383482