In [82]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta
import talib as ta2
import numpy as np
from datetime import datetime as dt
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [83]:
start_date = '2000-01-01'
end_date = dt.now().strftime('%Y-%m-%d')

tech = ['HCLTECH', 'WIPRO', 'INFY', 'TCS', 'TECHM']
banks = ['HDFCBANK', 'ICICIBANK', 'SBIN', 'KOTAKBANK', 'AXISBANK', 'FEDERALBNK', 'KARURVYSYA', 'CANBK']
others = ['RELIANCE', 'HINDUNILVR', 'ITC', 'M&M', 'TATAMOTORS', 'TATASTEEL', 'CIPLA']

_all = tech + banks + others

df = pd.concat([yf.download(f"{i}.NS", period='1d', start=start_date, end=end_date) for i in others])

df.head(5)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2000-01-03  36.747459  38.944569  36.747459  38.944569  29.579706   28802010
2000-01-04  39.981236  42.062302  38.882679  42.062302  31.947729   61320457
2000-01-05  39.710464  44.545658  39.710464  43.710136  33.199314  173426953
2000-01-06  44.715855  46.526150  44.715855  45.543640  34.591930  101355113
2000-01-07  45.644211  49.187443  45.334759  48.669109  36.965828  128426756

In [84]:
df['SMA_10'] = ta.sma(df['Adj Close'],length=10)
df['SMA_30'] = ta.sma(df['Adj Close'],length=30)
df['SMA_50'] = ta.sma(df['Adj Close'],length=50)
df['SMA_200'] = ta.sma(df['Adj Close'],length=200)

macd = ta.macd(df['Adj Close'], fast=12, slow=26, signal=9)
df['MACD'] = macd['MACD_12_26_9']
df['MACD_signal'] = macd['MACDs_12_26_9']
df['MACD_hist'] = macd['MACDh_12_26_9']

df.tail(5)

,Open,High,Low,Close,Adj Close,Volume,SMA_10,SMA_30,SMA_50,SMA_200,MACD,MACD_signal,MACD_hist
Date,,,,,,,,,,,,,
2023-08-28,1212.000000,1237.000000,1211.000000,1228.900024,1228.900024,1666004,1230.080017,1171.029602,1101.358868,1011.365482,36.145456,46.356597,-10.211142
2023-08-29,1232.000000,1245.650024,1227.300049,1229.750000,1229.750000,1209087,1229.495020,1178.156724,1106.158531,1011.958629,34.072289,43.899736,-9.827447
2023-08-30,1234.699951,1256.800049,1231.150024,1236.150024,1236.150024,1282450,1228.755017,1185.557847,1110.983878,1012.618703,32.570269,41.633842,-9.063574
2023-08-31,1240.150024,1266.099976,1223.199951,1257.599976,1257.599976,3103295,1230.415015,1193.510002,1116.240192,1013.390453,32.733408,39.853755,-7.120348
2023-09-01,1264.900024,1268.900024,1239.650024,1245.400024,1245.400024,1167597,1231.315015,1200.088334,1121.296779,1014.061360,31.514978,38.186000,-6.671022

In [85]:
df['10_cross_30'] = np.where(df['SMA_10'] > df['SMA_30'], 1, 0)

df['MACD_Signal_MACD'] = np.where(df['MACD_signal'] < df['MACD'], 1, 0)

df['MACD_lim'] = np.where(df['MACD']>0, 1, 0)

df['abv_50'] = np.where((df['SMA_30']>df['SMA_50'])&(df['SMA_10']>df['SMA_50']), 1, 0)

df['abv_200'] = np.where((df['SMA_30']>df['SMA_200'])&(df['SMA_10']>df['SMA_200'])&(df['SMA_50']>df['SMA_200']), 1, 0)

In [86]:
df.dropna().head(10)

,Open,High,Low,Close,Adj Close,Volume,SMA_10,SMA_30,SMA_50,SMA_200,MACD,MACD_signal,MACD_hist,10_cross_30,MACD_Signal_MACD,MACD_lim,abv_50,abv_200
Date,,,,,,,,,,,,,,,,,,
2000-10-06,52.305172,52.885395,52.073086,52.668777,40.869411,13474626,41.254818,42.086052,41.316049,38.887703,-0.250350,-0.081633,-0.168716,0,0,0,0,1
2000-10-09,52.761616,53.612610,52.459900,52.676517,40.875423,15937739,41.236809,42.119070,41.324813,38.944181,-0.273833,-0.120073,-0.153759,0,0,0,0,1
2000-10-10,52.769352,52.838978,51.585697,51.864204,40.245090,13848357,41.163572,42.138280,41.316889,38.985668,-0.339393,-0.163937,-0.175456,0,0,0,0,1
2000-10-11,51.523808,51.740421,50.688286,51.106045,39.656788,12546690,40.904235,42.111866,41.295999,39.017956,-0.433821,-0.217914,-0.215907,0,0,0,0,1
2000-10-12,50.672813,51.755894,49.906918,50.649605,39.302597,31881405,40.685120,42.075047,41.271266,39.041509,-0.531113,-0.280554,-0.250560,0,0,0,0,1
2000-10-13,50.324677,50.324677,47.206947,49.249332,38.216026,24689867,40.394568,42.002009,41.242931,39.047760,-0.687965,-0.362036,-0.325929,0,0,0,0,1
2000-10-16,49.667091,51.740421,47.230156,48.011520,37.255524,31406165,40.007966,41.827518,41.195026,39.052763,-0.879636,-0.465556,-0.414080,0,0,0,0,1
2000-10-17,47.214684,48.228138,45.992348,46.719559,36.252998,37963551,39.513308,41.612205,41.125629,39.064506,-1.099755,-0.592396,-0.507359,0,0,0,0,1
2000-10-18,46.340481,46.804657,45.528168,46.162544,35.820770,17522746,38.933403,41.351068,41.040745,39.066332,-1.294159,-0.732748,-0.561411,0,0,0,0,0
2000-10-19,45.922718,47.717545,44.406403,46.905231,36.397068,32428346,38.489170,41.116145,40.977352,39.065074,-1.385750,-0.863349,-0.522401,0,0,0,0,0

In [87]:
df['5D_returns'] = (df['Adj Close'].shift(-5)-df['Adj Close'])/df['Close']*100
df['10D_returns'] = (df['Adj Close'].shift(-10)-df['Adj Close'])/df['Close']*100

In [88]:
df.dropna()

,Open,High,Low,Close,Adj Close,Volume,SMA_10,SMA_30,SMA_50,SMA_200,MACD,MACD_signal,MACD_hist,10_cross_30,MACD_Signal_MACD,MACD_lim,abv_50,abv_200,5D_returns,10D_returns
Date,,,,,,,,,,,,,,,,,,,,
2000-10-06,52.305172,52.885395,52.073086,52.668777,40.869411,13474626,41.254818,42.086052,41.316049,38.887703,-0.250350,-0.081633,-0.168716,0,0,0,0,1,-5.037871,-9.642623
2000-10-09,52.761616,53.612610,52.459900,52.676517,40.875423,15937739,41.236809,42.119070,41.324813,38.944181,-0.273833,-0.120073,-0.153759,0,0,0,0,1,-6.871942,-12.444716
2000-10-10,52.769352,52.838978,51.585697,51.864204,40.245090,13848357,41.163572,42.138280,41.316889,38.985668,-0.339393,-0.163937,-0.175456,0,0,0,0,1,-7.697201,-9.838539
2000-10-11,51.523808,51.740421,50.688286,51.106045,39.656788,12546690,40.904235,42.111866,41.295999,39.017956,-0.433821,-0.217914,-0.215907,0,0,0,0,1,-7.505996,-5.931974
2000-10-12,50.672813,51.755894,49.906918,50.649605,39.302597,31881405,40.685120,42.075047,41.271266,39.041509,-0.531113,-0.280554,-0.250560,0,0,0,0,1,-5.736529,-5.167618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-11,1258.300049,1258.800049,1245.000000,1250.199951,1250.199951,1286301,1216.254993,1094.996562,1046.717465,1006.745897,65.711421,56.416982,9.294439,1,1,1,1,1,-1.311782,-1.703722
2023-08-14,1250.199951,1252.000000,1231.650024,1235.599976,1235.599976,830936,1222.314990,1103.330375,1052.425115,1007.282211,63.477750,57.829135,5.648614,1,1,1,1,1,-1.181610,-0.473452
2023-08-16,1231.550049,1246.000000,1226.050049,1243.550049,1243.550049,1665083,1228.834998,1111.599611,1058.115664,1007.814004,61.638523,58.591013,3.047510,1,1,1,1,1,-1.037355,-0.595073
2023-08-17,1235.000000,1245.849976,1226.050049,1241.000000,1241.000000,1855386,1236.104993,1119.818280,1063.809321,1008.283855,59.291678,58.731146,0.560532,1,1,1,1,1,-1.651894,1.337629
2023-08-18,1239.000000,1257.000000,1231.000000,1236.400024,1236.400024,1292509,1243.159998,1127.540922,1069.639224,1008.783342,56.410343,58.266985,-1.856642,1,0,1,1,1,-2.183759,0.727920

In [89]:
df['5D_positive'] = np.where(df['5D_returns']>0, 1, 0)
df['10D_positive'] = np.where(df['10D_returns']>0, 1, 0)

df.dropna().groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200'])[['5D_returns', '10D_returns']]\
    .agg(['count', 'mean','median', 'min', 'max'])\
    .to_csv('./eda.csv')


df.dropna().groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200',
                     '5D_positive', '10D_positive'])[['5D_returns', '10D_returns']]\
    .agg(['count', 'mean','median', 'min', 'max'])\
    .to_csv('./eda_deepdive.csv')

In [90]:
ref_5d = df.dropna()\
    .groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200', '5D_positive'])[['5D_returns']]\
    .agg(['mean','median']).rename(columns={'count':'num','mean':'5d_mean', 'median': '5d_median'})

ref_10d = df.dropna()\
    .groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200', '5D_positive'])[['10D_returns']]\
    .agg(['mean','median']).rename(columns={'mean':'10d_mean', 'median': '10d_median'})

ref_count = df.dropna()\
    .groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200'])[['10_cross_30']]\
    .agg(['count']).rename(columns={'count':'total_count'})

ref_num = df.dropna()\
    .groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200', '5D_positive'])[['10_cross_30']]\
    .agg(['count']).rename(columns={'count':'num'})

ref = ref_5d.merge(ref_10d, how='left', left_index=True, right_index=True)\
    .merge(ref_count, how='left', left_index=True, right_index=True)

ref['5d_returns'] = (ref['5D_returns', '5d_mean']+ref['5D_returns', '5d_median'])/2
ref['10d_returns'] = (ref['10D_returns', '10d_mean']+ref['10D_returns', '10d_median'])/2
ref['returns'] = (ref['5d_returns']+ref['10d_returns'])/2

ref = ref.merge(ref_num, how='left', left_index=True, right_index=True)

ref['proba'] = round(ref['10_cross_30', 'num']/ref['10_cross_30', 'total_count'], 2)

ref = ref.reset_index()

ref.columns = ref.columns.droplevel(1)

ref = ref[['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200',
       '5D_positive', 'returns', 'proba']]

ref['actual_returns'] = round(ref['returns']*ref['proba'], 2)

ref.columns = ['10_cross_30', '_', '_', 'MACD_Signal_MACD',
       'MACD_lim', 'abv_50', 'abv_200', '5D_positive', 'returns', 'proba',
       'actual_returns']

ref = ref.drop('_', axis=1)

ref

,10_cross_30,MACD_Signal_MACD,MACD_lim,abv_50,abv_200,5D_positive,returns,proba,actual_returns
0,0,0,0,0,0,0,-2.765658,0.49,-1.36
1,0,0,0,0,0,1,3.221168,0.51,1.64
2,0,0,0,0,1,0,-2.636427,0.47,-1.24
3,0,0,0,0,1,1,3.558454,0.53,1.89
4,0,0,0,1,0,0,-3.284430,0.48,-1.58
...,...,...,...,...,...,...,...,...,...
57,1,1,1,0,1,1,2.816220,0.50,1.41
58,1,1,1,1,0,0,-2.053761,0.47,-0.97
59,1,1,1,1,0,1,2.602890,0.53,1.38
60,1,1,1,1,1,0,-2.086993,0.46,-0.96
61,1,1,1,1,1,1,2.635765,0.54,1.42

In [91]:
base = ref[(ref['10_cross_30']==1)|(ref['MACD_Signal_MACD']==1)]\
    .drop_duplicates()\
    .groupby(['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200'])\
    .sum()['actual_returns']\
    .reset_index()\
    .sort_values('actual_returns', ascending=False)

probs = ref[ref['5D_positive']==1][['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200', 'proba']]

base = base.merge(probs, on=['10_cross_30', 'MACD_Signal_MACD', 'MACD_lim', 'abv_50', 'abv_200'], how='left')

base.sort_values(['actual_returns','proba'], ascending=False)\
    .to_csv('others.csv', index=False)